/* RESET */
html {
	height: 100%;
	overflow-y: scroll;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body {
	line-height: 1;
	height: 100%;
	width: 100%;
}
ol, ul {list-style: none;}
ul {
	margin: 0.5em 0;
    padding: 0 0 0 2em;
}
ul li {
	margin: 0;
	padding: 0;
	list-style-type: disc;
    /*margin: 0.5em 0; 
    padding: 0 0 0 20px;
    list-style-type: none;
    background: url('../images/li.gif') no-repeat 0 0.6em;*/
}
a img {border: none;}

:focus {
	outline: 0;
}

/* END RESET */

/* typography */
/*
One font for body, other for headings
*/
html {
	color: #999999;
	font-size: 100.01%;
}

select, input, textarea, button {
	font: 99% sans-serif;
}
pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 17px 0 16px;
	padding: 0;
}
body {
	font-family: "PT Sans", Tahoma, sans-serif;
	font-size: 16px; /* set default font size to 14px */
	line-height: 20px; /* set global line height to 18px */
}
h1, h2, h3, h4 {
	font-weight: bold;
	color:  #ffffff;
}
h1 {
	font-family: "PT Sans", "PT Sans Narrow", "Arial Narrow", Impact, sans-serif;
	font-size: 24px; /* 20px */
	line-height: 24px;
	padding: 48px 0 35px 0;
	display: block;
}
#headings {
	margin-bottom: 22px;
}
#tables {
	margin-top: 45px;
}
h2 {
	font-family: "PT Sans", "PT Sans Narrow", "Arial Narrow", Impact, sans-serif;
	font-size: 18px; /* 18px */
	line-height: 1;
	margin: 36px 0 18px;
}
h3 {
	font-family: "PT Sans", "PT Sans Narrow", "Arial Narrow", Impact, sans-serif;
	font-size: 16px; /* 16px */
	margin: 0 0 18px;
	line-height: 18px;
}

h4 {
	font-family: "PT Sans", "PT Sans Narrow", "Arial Narrow", Impact, sans-serif;
	font-size: 14px; /* 14px */
	line-height: 18px;
	margin: 0 0 18px;
}
h5 {
	font-family: "PT Sans", "PT Sans Narrow", "Arial Narrow", Impact, sans-serif;
	line-height: 18px;
	margin: 0 0 18px;
	font-style: italic;
}
h6 {
	font-family: "PT Sans", "PT Sans Narrow", "Arial Narrow", Impact, sans-serif;
	line-height: 18px;
	margin: 0 0 18px;
	font-style: italic;
	font-weight: normal;
}
p {
	line-height: 18px;
	margin: 0 0 18px 0;
}
small {
	font-size: 78.6%;
	line-height: 14px;
	margin: 0px 0 18px;
}
ul, ol, dl {
	margin: 0 0 18px 0;
}
label {
	line-height: 18px;
	display: block;
	margin: 0 0 15px;
}
strong, th {
	font-weight: bold;
}
table {
	margin-bottom: 18px;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}

/* forms */
.ie6 legend, .ie7 legend {
	margin-left: -7px;
}
legend {
	*margin-left: -7px;
}

/*IE6, IE7 /should be deleted if was used bulletproof HTML-template/ */
input[type="radio"] {
	vertical-align: text-bottom;
}
input[type="checkbox"] {
	vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
	vertical-align: baseline;
}
.ie6 input {
	vertical-align: text-bottom;
}
input[type="checkbox"] {
	*vertical-align: baseline;
}

/*IE6, IE7 /should be deleted if was used bulletproof HTML-template/ */
input {
	*vertical-align: text-bottom;
}

/*IE6, IE7 /should be deleted if was used bulletproof HTML-template/ */
button, input, select, textarea {
	margin: 0;
}
input, select {
	vertical-align: middle;
}
label, input[type=button], input[type=submit], button {
	cursor: pointer;
}
button {
	width: auto;
	overflow: visible;
}

/* main rules */
body {
}
::-moz-selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}

/*  j.mp/webkit-tap-highlight-color - выделение в iOS */
a:link {
	-webkit-tap-highlight-color: #FF5E99;
}
a {
	color: #cccccc;
	outline: 0;
	/*text-decoration: underline;*/
	border-bottom: 1px solid #cccccc;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
a:hover {
	border-bottom-color: transparent !important;
	text-decoration: none !important;
	color: #ffffff;
}

/*Custom quotes*/
blockquote {
	color: #839da5;
	font-style: italic;
	margin-left: 25px;
	quotes: "\201e" "\201c";
}
blockquote:before, blockquote:after {
	color: #daeaef;
	position: absolute;
	width: 50px;
	height: 1px;
}
blockquote:before {
	content: open-quote;
	display: block;
	font-size: 54px;
	margin: -16px 0 0 -20px;
}
blockquote:after {
	content: close-quote;
	font-size: 36px;
	margin: 10px 0 0 2px;
}

/************************/
.clearfloat {
	clear:both;
	float:none;
	height:0px;
	position:relative;
	display:block;
	zoom:1;
	overflow:hidden;
	line-height:0px;
	font-size:0px;
}
*+html .clearfloat { zoom:1; }
*:first-child + html .clearfloat {
	min-height: 1%;
	zoom:1;
}
/*helpers*/
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.text-center {
	text-align: center;
}

.page-container {
    position: relative;
	overflow: hidden;
	min-width: 990px;
    min-height: 100%;
    height: auto;
	margin: 0 auto;
	background: #000000;
}
header {
	height: 101px;
	max-height: 200px;
	position: relative;
	background: url(../images/bg_header.gif) repeat-x;
}
.page-content {
	position: relative;
	width: 100%;
    height: 100%;
	margin: 0 auto;
	padding-bottom: 357px; /* Height of the footer */
	min-height: 300px;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 2;
	height: 357px;/* Height of the footer */
	background-color: #333333;
}
.container {
	position: relative;
	margin: 0 auto;
	width: 980px;
}
/*forall*/
header a {
	border-bottom: none;
}
.go_home {
	position: relative;
	margin-top: 70px;
	font-size: 19px;
	line-height: 22px;
	border-bottom: 1px solid;
}
.sprite {
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
}
#logo_victory {
	position: relative;
	float: left;
	margin-top: 7px;
	width: 222px;
	height: 84px;
	background-position: 0 0;
}
#logo_victory a {
	display: block;
	position: relative;
	width: 222px;
	height: 84px;
}
header nav {
	display: block;
	position: relative;
	float: left;
	margin: 39px 0 0 35px;
}
header nav ul li {
	display: inline-block;
	position: relative;
	margin: 0 38px 0 0;
	padding: 0;
	background: none;
}
header .ie7 nav ul li {
	display: inline;
}
header nav ul li,
header nav ul li a {
	font-family: 'PT Sans';
	font-size: 18px;
	line-height: 18px;
	color: #999999;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: color 300ms linear;
	-moz-transition: color 300ms linear;
	-ms-transition: color 300ms linear;
	-o-transition: color 300ms linear;
	transition: color 300ms linear;
}
header nav ul li.active,
header nav ul li.active a {
	color: #f0d581;
}
header nav ul li:hover a {
	color: #ffffff;
}
.btn_login {
	display: block;
	position: relative;
	margin: 23px 75px 6px 0;
	width: 81px;
	height: 29px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-family: Arial;
	font-size: 17px;
	line-height: 29px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 5px 8px rgba(0, 0, 0, 1);
	box-shadow:         0px 5px 8px rgba(0, 0, 0, 1);
	-webkit-transition: color 300ms linear;
	-moz-transition: color 300ms linear;
	-ms-transition: color 300ms linear;
	-o-transition: color 300ms linear;
	transition: color 300ms linear;
	color: #333333;
	overflow: hidden;
	background: url(../images/enter_normal.png) -4px -0px;
}
.btn_login:hover:before {
	display: block;
	position: absolute;
	content: url(../images/enter_hover.gif);
	top: 0;
	left: -4px;
	width: 81px;
	height: 29px;
	overflow: hidden;
}
.btn_login + a {
	border-bottom: 1px solid;
	color: #828282;
}/*
.btn_login:hover {
	color: transparent;
	background-image: url(../images/enter_hover.gif);
	background-position: -4px 0px;
}*/
.account_data {
	position: relative;
	float: right;
	margin-top: 17px;
	width: 244px;
	font-size: 16px;
	line-height:20px;
}
.account_data a {
	border-bottom: 1px solid;
}
.account_data .divider {
	margin-right: 10px;
	margin-left: 8px;
	border-left: 1px solid #999999;
}
.account_data .logout {
	color: #999999;
}
.account_data .name,
.account_data .bill {
	color: #cccccc;
}
.account_data .name {
	display: block;
	float: left;
	position: relative;
	max-width: 120px;
	height: 20px;
	overflow: hidden;
}
.account_data .name:after {
	display: block;
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	width: 15px;
	height: 100%;
	background: url(../images/fader.png) repeat-y;
}
.account_data .name strong {
	max-width: 1000px;
}
.account_data .bill_block {
	position: relative;
	margin-top: 16px;
	width: 260px;
}
.account_data .bill_block .sum {
	display: inline;
	position: relative;
}
.account_data .bill_block .sum > strong {
	padding-left: 8px;
	color: #ccc;
}
.account_data .bill_block .info {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
	position: absolute;
	top: 42px;
	left: -61px;
	width: 212px;
	background-color: #ffcc00;
	z-index: 2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.account_data .bill_block .sum:hover > strong {
	cursor: pointer;
}
.account_data .bill_block .sum:hover .info {
	visibility: visible;
	opacity: 1;
}
.account_data .bill_block .info:before {
	content: "";
	display: block;
	position: absolute;
	top: -18px;
	left: 50%;
	width: 0;
    height: 0;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 18px solid #ffcc00;
}
.account_data .bill_block .info ul {
	margin-top: 18px;
	padding: 0 10px 0 18px;
}
.account_data .bill_block .info ul li {
	margin-bottom: 8px;
	list-style: none;
}
.account_data .bill_block .info li,
.account_data .bill_block .info li a {
	color: #333333;
	font-size: 16px;
	line-height: 16px;
}
.account_data .bill_block .info li a {
	display: inline-block;
	max-width: 92px;
}
.account_data .bill_block .total_sum {
	position: relative;
	padding: 10px 18px;
	border-top: 1px solid #d7aa00;
	color: #333;
}
.account_data .btn_plus {
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../images/plus_normal.png) -6px -0px no-repeat;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-family: Arial;
	font-size: 26px;
	line-height: 26px;
	text-align: center;
	text-decoration: none;
	color: #6d543d;
	vertical-align: middle;
	transition: all 0ms;
	overflow: hidden;
	border: none;
	-webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 5px 8px rgba(0, 0, 0, 1);
	box-shadow:         0px 5px 8px rgba(0, 0, 0, 1);
	overflow: hidden;
}
.account_data .btn_plus:hover {
	background: url(../images/plus_hover.gif) no-repeat -6px -0px;
}
#mask {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 20;
}
#mask.active {
	display: block;
}
#popup_login {
	display: block;
	position: fixed;
	top: 122px;
	left: 50%;
	margin-left: -209px;
	width: 420px;
	background: #ffcc00;
}
#popup_login:before,
#popup_information:before {
	content: '';
	display: block;
	position: absolute;
	top: -36px;
	right: 0;
	width: 0;
    height: 0;
    border-bottom: 36px solid #b28d00; 
    border-right: 100px solid transparent;
}
#popup_login:after,
#popup_information:after {
	content: '';
	display: block;
	position: absolute;
	top: -36px;
	right: 24px;
	width: 0;
    height: 0;
    border-top: 28px solid #e5b500; 
    border-left: 76px solid transparent;
}
#popup_login #auth_block {
	margin-top: 0;
	padding-left: 23px;
	width: auto;
	height: auto;
	background: transparent;
	border: none;
}
#popup_login .title_switcher {
	margin-top: 5px;
}
#popup_login .title_switcher a,
#popup_login .title_switcher span {
	font-size: 20px;
	line-height: 24px;
}
#popup_login .title_switcher span,
#popup_login .title_switcher .active,
#popup_login .title_switcher .active:hover {
	color: #000;
}
#popup_login .title_switcher a,
#popup_login .title_switcher a:hover {
	color: #b28d00;
}
#popup_login input {
	background-color: #fff;
	color: #333;
	font-size: 16px;
	line-height: 19px;
}
#popup_login a {
	color: #252525;
}
#popup_login a:hover {
	color: #000;
}
#popup_login .button_submit {
	margin: 25px 0;
}
#popup_login .auth_social {
	position: relative;
	margin: 26px 0;
	font-size: 14px;
	line-height: 23px;
	color: #333;
}
#popup_login .list {
	margin-top: 0;
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
}
#popup_login .soc_btn:after {
	display: none;
}
#popup_login .code label {
	color: #333;
}
#popup_login label {
	color: #333;
}
#popup_login #rules + label a {
	color: #333;
	border-color: #333;
}
.popup_close{
	display: block;
	position: absolute;
	top: -30px;
	right: 29px;
	background-image: url(../images/sprite.png);
	background-position: -348px -151px;
	width: 14px;
	height: 14px;
	z-index: 2;
	border-bottom: none;
}
#popup_information {
	display: block;
	position: relative;
	padding: 10px 20px 20px;
	width: 800px;
	max-height: 536px;
	margin: 124px auto 0;
	background-color: #ffcc00;
	color: #333;
	/*overflow: hidden;*/
}
.scroll-block {
	position: relative;
	width: 800px;
	max-height: 536px;
	overflow: hidden;
}
#popup_information .scroll-block-content {
	padding-right: 28px;
}
#popup_information h2 {
	margin-top: 0;
	margin-bottom: 12px;
	color: #000;
	font-size: 20px;
	line-height: 20px;
}
#popup_information p {
	line-height: 19px;
}

.icon_fullscrin{
	background-position: -253px -15px;
	width: 18px;
	height: 16px;
}
.icon_dialog{
	background-position: -427px -151px;
	width: 15px;
	height: 16px;
}
.icon_close{
	display: block;
	position: relative;
	margin-left: 6px;
	background-image: url(../images/sprite.png);
	background-position: -348px -151px;
	width: 14px;
	height: 14px;
	z-index: 2;
	border-bottom: none !important;
}

/*footer*/
.payment_systems {
	position: relative;
	margin-top: 17px;
	padding-bottom: 21px;
	border-bottom: 1px solid #000000;
}
.payment_system {
	display: inline-block;
	position: relative;
	margin-left: 26px;
	vertical-align: bottom;
	border-bottom: none;
}
.payment_system:first-child {
	margin-left: 0;
}
.payment_system.qiwi {
	width: 54px;
	height: 27px;
	background-position: -0px -0px ;
}
.payment_system.yd {
	width: 56px;
	height: 24px;
	background-position: -60px -3px;
}
.payment_system.wm {
	width: 111px;
	height: 29px;
	background-position: -121px -0px;
}
.payment_system.rp {
	width: 54px;
	height: 26px;
	background-position: -235px -2px;
}
.payment_system.sbrf {
	width: 72px;
	height: 18px;
	background-position: -294px -5px;
}
.payment_system.visa {
	width: 40px;
	height: 13px;
	background-position: -370px -8px;
}
.payment_system.mc {
	width: 40px;
	height: 24px;
	background-position: -413px -3px;
}
.payment_system.ab {
	width: 19px;
	height: 29px;
	background-position: -457px 0px;
}
.payment_system.beeline {
	width: 26px;
	height: 26px;
	background-position: -482px -3px;
}
.payment_system.megafon {
	width: 28px;
	height: 29px;
	background-position: -513px 0px;
}
.payment_system.mts {
	width: 27px;
	height: 27px;
	background-position: -544px -1px;
}
.more_systems {
	margin-top: 8px;
	font-size: 14px;
	line-height: 16px;
}
footer nav {
	padding-top: 21px;
	border-top: 1px solid #666666;
}
footer nav > div {
	position: relative;
	width: 50%;
}
footer nav ul {
	position: relative;
	float: left;
	margin: 0 0 0 30px;
	padding: 0;
	width: 220px;
}
footer nav ul:first-child {
	margin-left: 0;
}
footer nav ul li {
	margin-bottom: 3px;
	list-style-type: none;
	font-size: 14px;
	line-height: 18px;
}
footer .rights {
	position: relative;
	margin-top: 42px;
	font-size: 14px;
	line-height: 16px;
	color: #cccccc;
}

/*index page*/
#main_slider_block {
	display: block;
	position: relative;
	width: 100%;
	height: 340px;
}
#main_slider {
	display: block;
	position: relative;
	width: 100%;
	height: 340px;
}
#main_slider .slider {
	width: 100%;
	height: 100%;
}
#main_slider .slider .item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 340px;
	background: #000;
	margin: 0 0 0 0;
}
#main_slider a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
#popular {
	position: relative;
	overflow: hidden;
	background-color: #242424;
}
#popular h2 {
	margin-top: 18px;
	font-size: 25px;
	line-height: 30px;
	color: #cccccc;
	text-align: center;
	text-transform: uppercase;
}
#popular_games {
	position: relative;
	margin-right: -38px;
	padding-right: 38px;
	margin-left: -38px;
	padding-left: 38px;

	width: 996px;
	height: 436px;
	overflow: hidden;
	background: url(../images/tube.png) no-repeat 4px 6px;
}
#popular_games .mCSB_draggerRail {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-top: 1px solid #565656;
	background-color: #666;
	height: 4px;
}
#popular_games .mCSB_dragger {
	top: 0px;
	width: 75px !important;
	height: 32px;
	background: url(../images/ui-slider-handle.png) no-repeat;
}
#popular_games .mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools {
	height: 30px;
}
#popular_games .mCSB_dragger_bar {
	background: none;
}
.popular_games_list {
	display: block;
	position: relative;
	margin-left: -13px;
}
#popular_games .item {
	position: relative;
	float: left;
	margin-bottom: 45px;
	margin-left: 20px;
	background-color: #ffcc00;
	padding: 15px;
	width: 200px;
	text-align: center;
}
#popular_games .item:before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: -7px;
	width: 244px;
	height: 7px;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -85px;
}
#popular_games .item:after {
	display: block;
	content: '';
	position: absolute;
	bottom: -41px;
	left: -6px;
	width: 242px;
	height: 41px;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -94px;
}	
#popular_games .item_pic {
	position: relative;
	width: 200px;
	height: 146px;
	background-image: url(../images/tmp/game_pic_01.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
#popular_games .item_rating {
	display: block;
	position: absolute;
	bottom: 4px;
	right: 11px;
}
#popular_games .star {
	position: relative;
	float: right;
	width: 31px;
	height: 30px;
	background-image: url(../images/sprite.png);
	background-position: -251px -65px;
}
#popular_games .item_name {
	margin-top: 11px;
	margin-bottom: 3px;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	color: #333333;
	text-shadow: 1px 1px 1px #ffffff;
}
#popular_games .item_name.small {
	font-size: 16px;
}
#popular_games .item_win {
	font-size: 18px;
	line-height: 22px;
	color: #cc001f;
	text-shadow: 1px 1px 1px #ffffff;
}
#popular_games .item_bet {
	margin-top: 5px;
	padding-bottom: 2px;
	background-color: #ffe066;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}
#popular_games .item_start_game {
	display: block;
	position: relative;
	margin: 13px auto 0;
	width: 115px;
	height: 38px;
	border-bottom: none;
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff0000 0%, #e70000 50%, #cd0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(50%,#e70000), color-stop(100%,#cd0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff0000 0%,#e70000 50%,#cd0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff0000 0%,#e70000 50%,#cd0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff0000 0%,#e70000 50%,#cd0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff0000 0%,#e70000 50%,#cd0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#cd0000',GradientType=0 ); /* IE6-9 */
	font-size: 21px;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 3px 3px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 3px 3px rgba(50, 50, 50, 0.4);
}
#popular_games .item_start_game:hover,
#popular_games .item_start_game:active {
	-webkit-box-shadow: inset 0px 3px 3px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    inset 0px 3px 3px rgba(50, 50, 50, 0.4);
	box-shadow:         inset 0px 3px 3px rgba(50, 50, 50, 0.4);
}
#flag_slider {
	position: relative;
	margin: 8px 0 15px;
	/*padding-right: 75px;*/
	width: 905px;
	height: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-top: 1px solid #565656;
	border-left: 1px solid #565656;
	background-color: #666666;
}
#flag_slider:after {
	display: block;
	content: '';
	position: absolute;
	top: -1px;
	right: -73px;
	height: 4px;
	width: 77px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-top: 1px solid #565656;
	border-right: 1px solid #565656;
	background-color: #666666;
}
.ui-slider-handle {
	position: absolute;
	display: block;
	left: 0px;
	top: -10px;
	width: 75px;
	height: 32px;
	background: url(../images/ui-slider-handle.png) no-repeat;
	border-bottom: none;
	z-index: 2;
}

#players_data {
	position: relative;
	padding-top: 22px;
	background-color: #242424;
}
#players_data .container:before {
	content: '';
	display: block;
	position: absolute;
	bottom: -40px;
	left: -3052px;
	width: 3000px;
	height: 40px;
	background-color: #242424;
	z-index: 1;
}
#players_data .container:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -40px;
	right: -3052px;
	width: 3000px;
	height: 40px;
	background-color: #242424;
	z-index: 1;
}
#players_data h2 {
	margin-top: 14px;
	margin-bottom: 23px;
	text-transform: uppercase;
	font-size: 25px;
	line-height: 30px;
	color: #333333;
	text-align: center;
}
.last_wins {
	position: relative;
	width: 50%;
	height: 226px;
	background-color: #ffcc00;
}
#players_data table {
	margin-bottom: 0;
	margin-left: 58px;
	color: #333333;
	font-size: 18px;
}
#players_data tr td {
	padding-bottom: 4px;
}
.last_wins .date {
	font-size: 12px;
	line-height: 18px;	
}
#players_data .name {
	padding: 0px 3px;
	width: 142px;
}
#players_data .sum {
	font-weight: bold;
}
.players_rating {
	position: relative;
	width: 50%;
	height: 226px;
	background-color: #f4c300;
}
.players_rating table {
	margin-left: 96px;
}
#players_data .safe{
	display: block;
	position: absolute;
	bottom: -19px;
	left: 430px;
	background-image: url(../images/sprite.png);
	background-position: -285px 0;
	width: 120px;
	height: 140px;
	z-index: 2;
}
#players_data a {
	color: #336699;
	border-bottom-color: #336699;
}

#about {
	position: relative;
	margin-bottom: 40px;
	height: 556px;
	color: #fff;
}
#about .about_wrapper {
	margin-right: -52px;
	margin-left: -52px;
	padding: 0 52px;
	height: 556px;
	background-color: #cc0000;
}
#about .about_wrapper:before {
	content: '';
	display: block;
	position: absolute;
	top: 40px;
	left: -3052px;
	width: 3000px;
	height: 100%;
	background-color: #af0000;
	z-index: 1;
}
#about .about_wrapper:after {
	content: '';
	display: block;
	position: absolute;
	top: 40px;
	right: -3052px;
	width: 3000px;
	height: 100%;
	background-color: #af0000;
	z-index: 1;
}
#about h1 {
	margin: 0;
	padding: 27px 0 18px;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
}
.about_text {
	font-style: italic;
	font-size: 18px;
	line-height: 22px;
}
#about .pull-left,
#about .pull-right {
	width: 45%;
	padding-right: 5%;
}
#about h3 {
	font-size: 25px;
	line-height: 30px;
	text-align: center;
}
#about .pull-left .icon {
	margin: 32px 0 0 179px;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: -407px 0;
	width: 64px;
	height: 63px;
}
#about .pull-right .icon {
	margin: 21px 0 0 184px;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: -407px -65px;
	width: 74px;
	height: 73px;
}
#about p {
	margin-bottom: 22px;
}
#about a {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	border-color: #fff;
}
#about .left_decoration {
	position: absolute;
	bottom: -40px;
	left: -52px;
	width: 0;
	height: 0;
	border-top: 40px solid #8a0000;
	border-left: 40px solid #af0000;
	z-index: 3;
}
#about .right_decoration {
	position: absolute;
	bottom: -40px;
	right: -52px;
	width: 0;
	height: 0;
	border-top: 40px solid #8a0000; 
    border-right: 40px solid #af0000;
	z-index: 3;
}

#information {
	position: relative;
	padding-top: 54px;
	padding-bottom: 60px;
	background: url(../images/bg.gif);
	background-repeat: repeat;
}
#information .container {
	background-color: #f1eae4;
	color: #000;
}
#information .container:before {
	content: '';
	position: absolute;
	top: 9px;
	left: -5px;
	bottom: 6px;
	width: 5px;
	background-color: #c6c0bb;
}
#information .container:after {
	content: '';
	position: absolute;
	top: 9px;
	right: -5px;
	bottom: 6px;
	width: 5px;
	background-color: #c6c0bb;
}
#information .bg-top {
	position: absolute;
	top: -94px;
	left: -54px;
	width: 1084px;
	height: 40px;
	background: url(../images/bg.gif);
	background-repeat: repeat;	
}
#information .pull-left,
#information .pull-right {
	width: 49%;
}
#information .pull-right {
	box-shadow: -9px 0 30px -4px rgba(0, 0, 0, 0.2), 6px 0 4px -4px rgba(0, 0, 0, .2);
}
#information h2 {
	margin: 16px 0 4px 58px;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #333333;
}
#information h2 + .divider {
	position: relative;
	margin-bottom: 23px;
	width: 397px;
	border-top: 1px solid #666;
}
.news {
	margin-left: 58px;
}
.journal {
	width: 422px;
	margin-left: 28px;
}
#information h3 {
	margin: 0 38px 0 0;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}
#information h3 a {
	color: #333;
	text-decoration: underline;
	border: none;
}
#information .date {
	margin-bottom: 18px;
	font-size: 13px;
	line-height: 15px;
}
#information p {
	padding-right: 36px;
	line-height: 19px;
}
#information .all_info {
	display: block;
	position: relative;
	float: left;
	margin-top: -7px;
	margin-bottom: 15px;
	color: #336699;
	border-bottom-color: #336699;
}

/*game page*/
.game_box_wrapper {
	display: block;
	position: relative;
	float: left;
	width: 1100px;
	margin-left: -60px;
	padding-top: 30px;
	min-height: 594px;
	/*background-image: url(../images/tmp/bg_game.jpg);
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;*/
	text-align: center;
}
.game_box {
	display: inline-block;
	position: relative;
	padding-bottom: 53px;
}
.game_content {
	position: relative;
	margin: 0;
	padding: 0;
}
.game_content img {
	display: block;
	position: relative;
}
.game_info {
	position: relative;
	height: 26px;
	background: #616161; /* Old browsers */
	background: -moz-linear-gradient(top,  #616161 0%, #4c4c4c 50%, #383838 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#616161), color-stop(50%,#4c4c4c), color-stop(100%,#383838)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #616161 0%,#4c4c4c 50%,#383838 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #616161 0%,#4c4c4c 50%,#383838 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #616161 0%,#4c4c4c 50%,#383838 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #616161 0%,#4c4c4c 50%,#383838 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#383838',GradientType=0 ); /* IE6-9 */

}
.game_info .pull-left {
	position: relative;
	padding-top: 2px;
}
.back_to_games {
	margin-left: 14px;
	font-size: 10px;
	line-height: 10px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: none;
}
.game_info .icon_fullscrin,
.game_info .icon_dialog {
	display: inline-block;
	position: relative;
	border-bottom: none;
	vertical-align: bottom;
}
.game_info .icon_fullscrin {
	margin: 0 0 0 24px;
}
.game_info .icon_dialog {
	margin-left: 8px;
}
.game_info .help {
	color: #000;
	font-size: 12px;
	line-height: 16px;
	border-bottom-color: #000;
	margin-left: 7px;
}
.game_info .help:hover {
	border-bottom-color: transparent;
}
.game_info .pull-right {
	position: relative;
	height: 24px;
	padding-top: 2px;
	padding-right: 13px;
	background: #4e4e4e; /* Old browsers */
	background: -moz-linear-gradient(top,  #4e4e4e 0%, #3d3d3d 50%, #2c2c2c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e4e4e), color-stop(50%,#3d3d3d), color-stop(100%,#2c2c2c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4e4e4e 0%,#3d3d3d 50%,#2c2c2c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4e4e4e 0%,#3d3d3d 50%,#2c2c2c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4e4e4e 0%,#3d3d3d 50%,#2c2c2c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4e4e4e 0%,#3d3d3d 50%,#2c2c2c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#2c2c2c',GradientType=0 ); /* IE6-9 */
}
.game_info .pull-right a {
	margin-left: 21px;
	font-size: 11px;
	line-height: 16px;
	color: #999999;
	border-bottom-color: #999999;
}
.game_info .pull-right a:hover {
	border-bottom-color: transparent;
}
.help_information {
	display: none;
	position: relative;
	margin-bottom: 21px;
	clear: both;
	background-color: #252525;
}
.help_information .row {
	position: relative;
	padding: 12px 0;
	clear: both;
	border-top: 1px solid #404040;
	border-bottom: 1px solid #000;
}
.medal_image {
	position: relative;
	margin: 12px 29px 0 31px;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	overflow: hidden;
}
.count_content {
	position: relative;
	margin-right: 12px;
	width: 110px;
	font-size: 14px;
	line-height: 18px;
}
.count_content.first {
	width: 82px;
}
.count_content strong {
	margin-left: 9px;
}
.medal_description {
	position: relative;
	margin-top: 25px;
}
.help_information .row.with_medal {
	padding-top: 37px;
	padding-bottom: 8px;
}
.medals {
	position: relative;
	margin-left: 31px;
	margin-right: 4px;
}
.medals .medal_image {
	margin-right: 20px;
	margin-left: 0;
}
.other_medal {
	display: block;
	position: absolute;
	top: -40px;
	left: -14px;
	width: 20px;
	height: 20px;
}
.other_medal .medal_image,
.other_medal img {
	max-width: 20px;
	max-height: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
}
.game_description {
	position: relative;
	padding: 22px 22px 50px;
	clear: both;
	background-color: #252525;
	border-top: 1px solid #404040;
	border-bottom: 1px solid #000000;
}
.game_description h2 {
	margin: 0;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
}
.game_description h5 {
	margin: 3px 0 14px;
	font-size: 15px;
	line-height: 18px;
	color: #999999;
	font-style: normal;
	font-weight: normal;
}
.game_description img {
	margin-right: 23px;
	max-width: 210px;
}
.same_games_block {
	position: relative;
	margin-bottom: 68px;
	padding: 22px 22px 56px;
	background-color: #252525;
	border-top: 1px solid #404040;
}
.same_games_block h2 {
	margin: 14px 0 18px;
	font-size: 20px;
	line-height: 24px;
}
.same_games_block .games_list {
	position: relative;
}
.same_games_block .game_item {
	position: relative;
	margin-left: 18px;
	float: left;
	width: 172px;
}
.same_games_block .game_item:first-child {
	margin-left: 0;
}
.same_games_block .game_item a {
	border-bottom: none;
}
.same_games_block .game_item .game_pic {
	display: block;
	position: relative;
	margin-bottom: 22px;
}
.same_games_block .game_item img {
	display: block;
	max-width: 172px;
}
.same_games_block .game_item h3 {
	margin-bottom: 6px;
}
.same_games_block .game_item h5 {
	margin: 3px 0 14px;
	font-size: 15px;
	line-height: 18px;
	color: #999999;
	font-style: normal;
	font-weight: normal;
}
/*all games page*/
#games_slider {
	display: block;
	position: relative;
	width: 100%;
	height: 340px;
}	
#games_slider .slider {
	width: 100%;
	height: 100%;
}
#games_slider .slider .item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 340px;
	background: #000;
	margin: 0 0 0 0;
}
.iosSliderButtons {
	position: absolute;
	margin-left: -250px;
	bottom: 10px;
	left: 50%;
	width: 500px;
	height: 26px;
	text-align: center;
}
.iosSliderButtons .button {
	position: relative;
	display: inline-block;	
	margin: 0 10px 0 0;
	width: 27px;
	height: 26px;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: -224px -28px;
}
.iosSliderButtons .button:hover {
	background-position: -253px -33px;
}
.iosSliderButtons .selected,
.iosSliderButtons .selected:hover {
	background-position: -224px 0;
	width: 27px;
	height: 26px;
}
.help_block {
	display: block;
	position: relative;
	margin-top: 22px;
	padding: 7px 0;
	width: 100%;
	background-color: #e5b500;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	color: #000;
	font-style: italic;
}
.help_block:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-left: 10px solid #000;
    border-bottom: 27px solid transparent;
}
.help_block:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-right: 10px solid #000;
    border-bottom: 27px solid transparent;
}
.all_games_list {
	position: relative;
	margin-top: 55px;
	margin-bottom: 58px;
	margin-left: -16px;
}
.all_games_list a {
	border-bottom: none;
}
.all_games_list .game_item {
	display: inline-block;
	position: relative;
	margin-bottom: 42px;
	vertical-align: top;
	margin-left: 16px;
	width: 313px;
}
.all_games_list .item_pic {
	position: relative;
	cursor: pointer;
}
.all_games_list .mask {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
}
.all_games_list .start_game {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -75px;
	margin-top: -26px;
	width: 150px;
	height: 52px;
	background: #feca00; /* Old browsers */
	background: -moz-linear-gradient(top,  #feca00 0%, #e1a400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feca00), color-stop(100%,#e1a400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feca00 0%,#e1a400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feca00 0%,#e1a400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feca00 0%,#e1a400 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feca00 0%,#e1a400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feca00', endColorstr='#e1a400',GradientType=0 ); /* IE6-9 */
	color: #333333;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	font-size: 30px;
	font-weight: bold;
	line-height: 52px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	-webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 5px 8px rgba(0, 0, 0, 1);
	box-shadow:         0px 5px 8px rgba(0, 0, 0, 1);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}
.all_games_list .start_game:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.all_games_list .start_game:active {
	background: #ffff00; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffff00 0%, #ffe700 51%, #ffcc00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff00), color-stop(51%,#ffe700), color-stop(100%,#ffcc00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffff00 0%,#ffe700 51%,#ffcc00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffff00 0%,#ffe700 51%,#ffcc00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffff00 0%,#ffe700 51%,#ffcc00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffff00 0%,#ffe700 51%,#ffcc00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ffcc00',GradientType=0 ); /* IE6-9 */

}
.all_games_list .item_pic img {
	display: block;
	max-width: 313px;
}
.all_games_list h3 {
	margin-top: 12px;
	margin-bottom: 0;
	font-size: 25px;
	line-height: 30px;
}
.all_games_list h5 {
	margin: 3px 0 14px;
	font-size: 15px;
	line-height: 18px;
	color: #999999;
	font-style: normal;
	font-weight: normal;
}
/*content page*/
.promo {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 215px;
	background: url(../images/tmp/promo.jpg) top center no-repeat;
}
#about_info {
	position: relative;
	margin-left: 12px;
	background-color: #252525;
}
#about_info nav {
	position: relative;
	margin-left: -12px;
	width: 230px;
	background-color: #e5b500;
}
#about_info nav:before {
	display: block;
	content: '';
	position: absolute;
	top: -8px;
	left: -7px;
	width: 244px;
	height: 8px;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -140px;
}
#about_info nav:after {
	display: block;
	content: '';
	position: absolute;
	bottom: -50px; 
	left: -7px;
	width: 244px;
	height: 50px;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -150px;
}
#about_info nav ul {
	position: relative;
	margin: 0 auto;
	padding:0;
}
#about_info nav > ul {
	padding-top: 8px;
	padding-bottom: 17px;
}
#about_info nav ul li {
	margin: 0 14px;
	padding: 0;
	list-style-type: none;
}
#about_info nav li a {
	display: block;
	position: relative;
	margin: 0 -14px;
	padding: 0 14px;
	color: #333333;
	border: none;
	border-top: 1px solid #b38e00;
}
#about_info nav li:first-child > a {
	border: none;
}
#about_info nav ul > li {
	font-weight: bold;
	font-size: 20px;
	line-height: 36px;
}
#about_info .active,
#about_info .active > a {
	color: #a70015;
}
#about_info nav ul li ul {
	background-color: #c49b00;
	margin: 0 -14px;
}
#about_info nav ul li ul li {
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
}
#about_info nav li a:hover {
	background-color: #9e7d00;
}
#content {
	position: relative;
	margin-right: 20px;
	margin-left: 243px;
	padding-bottom: 135px;
	margin-bottom: 94px;
}
#content h1 {
	padding: 13px 0 20px;
	font-size: 30px;
	line-height: 36px;
	color: #ccc;
	text-transform: uppercase;
}
#content h2 {
	margin-top: 39px;
	font-size: 25px;
	line-height: 30px;
} 
#content p {
	line-height: 19px;
}
/*sign in and sign up pages*/
.black_page {
	background-color: #000;
}
.black_page header {
	background: #000;
}
.black_page a {
	color: #666666;
	border-color: #666;
}
#auth_block {
	position: relative;
	margin-top: 29px;
	padding-left: 30px;
	width: 950px;
	height: 465px;
	border-top: 1px solid #404040;
	background-color: #252525;
}
#auth_block.big {
	height: 663px;
}
.title_switcher {
	margin: 15px 0 30px;
}
.title_switcher,
.title_switcher a {
	color: #535353;
	text-decoration: none;
	font-size: 28px;
	line-height: 33px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: none;
}
.title_switcher .active,
.title_switcher span {
	color: #929292;
	cursor: default;
}
form {
	display: none;
}
form.active {
	display: block;
}
.auth_social .list {
	margin-top: 10px;
}
.right_side {
	position: relative;
	float: right;
	width: 490px;
	height: 100%;
	background-color: #202020;
}
.right_side .info {
	margin: 198px 55px 0 70px;
}
.right_side .info.noactive {
	display: none;
}
.right_side .info.active {
	display: block;
}
.link_remember_pas {
	display: block;
	position: relative;
	float: left;
	margin-top: 3px;
	margin-bottom: 32px;
	font-style: italic;
}
#login_form .button_submit {
	margin-top: 15px;
	margin-bottom: 28px;
}
.code_img {
	position: relative;
	float: left;
	margin-top: 29px;
	margin-right: 26px;
}
.code input {
	width: 213px;
}
.code label {
	margin-bottom: 11px;
}
#registration_form .button_submit {
	margin: 30px 0;
}
#rules + label a {
	color: #ccc;
	border-bottom-color: #ccc;
}

/*forms*/
input {
	position: relative;
	padding: 10px;
	width: 346px;
	background-color: #2c2c2c;
	border: none;
	font-size: 16px;
	line-height: 20px;
	color: #999999;
}
form .row {
	position: relative;
	margin-top: 23px;
	clear: left;
}
form .error input{
	padding-bottom: 4px;
	border-bottom: 2px solid #d83933;
}
form p {
	margin-bottom: 0;
}
input[type="checkbox"],
input[type="radio"] {
    display:none;            
}
input[type="checkbox"] + label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    height: 22px;
    width: 22px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    margin: 0 14px -3px 0;
    background-position: -250px -150px;
}
input[type="checkbox"] + label::before {
    background-position: -250px -150px;   
}
#popup_login input[type="checkbox"] + label:before {
	background-position: -301px -151px;
	width: 20px;
	height: 20px;
}
#popup_login input[type="checkbox"] + label::before {
    background-position: -301px -151px;  
}
input[type="checkbox"]:checked + label::before {
	width: 23px;
	height: 24px;
	margin: -2px 13px -3px 0;
    background-position: -274px -148px;
}
#popup_login input[type="checkbox"]:checked + label::before {
	width: 21px;
	height: 21px;
	margin: -1px 13px -3px 0;
    background-position: -323px -150px;
}
/*social buttons*/
.soc_btn {
	display: block;
	position: relative;
	float: left;
	margin-right: 4px;
	width: 23px;
	height: 23px;
	border-bottom: none;
	background-image: url(../images/social.png);
	background-repeat: no-repeat;
}
.soc_btn.big {
	background-image: url(../images/social_big.png);
	width: 36px;
	height: 36px;
}
.soc_btn.vk {
	background-position: -0px -0px;
}
.soc_btn.fb {
	background-position: -27px -0px;
}
.soc_btn.tw {
	background-position: -54px -0px;
}
.soc_btn.gp {
	background-position: -82px -0px;
}
.soc_btn.ok {
	background-position: -110px -0px;
}
.soc_btn.mr {
	background-position: -137px -0px;
}
.soc_btn.ya {
	background-position: -164px -0px;
}

.soc_btn.big.vk {
	background-position: -0px -0px;
}
.soc_btn.big.fb {
	background-position: -43px -0px;
}
.soc_btn.big.tw {
	background-position: -86px -0px;
}
.soc_btn.big.gp {
	background-position: -129px -0px;
}
.soc_btn.big.ok {
	background-position: -172px -0px;
}
.soc_btn.big.mr {
	background-position: -215px -0px;
}
.soc_btn.big.ya {
	background-position: -258px -0px;
}
/*mask*/
.soc_btn:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.5;
	background: #000;
	-webkit-transition: opacity 300ms ease;
	-moz-transition: opacity 300ms ease;
	-ms-transition: opacity 300ms ease;
	-o-transition: opacity 300ms ease;
	transition: opacity 300ms ease;
}
.soc_btn:hover:after {
	opacity: 0;
}
/*buttons*/
.btn_gray {
	display: inline-block;
	position: relative;
	padding: 6px 26px;
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 1%, #838383 50%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#999999), color-stop(50%,#838383), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 1%,#838383 50%,#666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 1%,#838383 50%,#666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 1%,#838383 50%,#666666 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 1%,#838383 50%,#666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	font-size: 22px;
	font-weight: bold;
	line-height: 26px;
	color: #333 !important;
	border-bottom: none;
	-webkit-box-shadow: 0px 5px 8px #000;
	-moz-box-shadow: 0px 5px 8px rgba(0, 0, 0, 1);
	box-shadow: 0px 5px 8px #000;
	-webkit-transition: color 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
	text-shadow: 1px 1px 1px #8e8e8e;
	border-bottom: 1px solid #000;
}
.scroll-block .btn_gray {
	margin-right: 18px;
	margin-bottom: 20px;
	color: #fff !important;
	-webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 5px 8px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 5px 8px 0px rgba(50, 50, 50, 0.3);
	border-bottom-color: #656565;
	background: #656565; /* Old browsers */
	background: -moz-linear-gradient(top,  #656565 0%, #373737 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#656565), color-stop(100%,#373737)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #656565 0%,#373737 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #656565 0%,#373737 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #656565 0%,#373737 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #656565 0%,#373737 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#373737',GradientType=0 ); /* IE6-9 */
}
.scroll-block .btn_gray:hover {
	border-bottom-color: #656565 !important;
}
.scroll-block .btn_gray.disagree {
	background: #919191; /* Old browsers */
	border-bottom-color: #646464;
	background: -moz-linear-gradient(top,  #919191 0%, #646464 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#919191), color-stop(100%,#646464)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #919191 0%,#646464 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #919191 0%,#646464 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #919191 0%,#646464 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #919191 0%,#646464 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#646464',GradientType=0 ); /* IE6-9 */

}
.btn_gray:hover {
	background: #cccccc; /* Old browsers */
	background: -moz-linear-gradient(top,  #cccccc 0%, #adadad 51%, #8e8e8e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(51%,#adadad), color-stop(100%,#8e8e8e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cccccc 0%,#adadad 51%,#8e8e8e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cccccc 0%,#adadad 51%,#8e8e8e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cccccc 0%,#adadad 51%,#8e8e8e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cccccc 0%,#adadad 51%,#8e8e8e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#8e8e8e',GradientType=0 ); /* IE6-9 */
	border-bottom-color: #000 !important;
}
.btn_gray:active {
	border-bottom: 1px solid #5c5c5c;
	background: #939393; /* Old browsers */
	background: -moz-linear-gradient(top,  #939393 0%, #aeaeae 51%, #cccccc 100%, #8e8e8e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#939393), color-stop(51%,#aeaeae), color-stop(100%,#cccccc), color-stop(100%,#8e8e8e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #939393 0%,#aeaeae 51%,#cccccc 100%,#8e8e8e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #939393 0%,#aeaeae 51%,#cccccc 100%,#8e8e8e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #939393 0%,#aeaeae 51%,#cccccc 100%,#8e8e8e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #939393 0%,#aeaeae 51%,#cccccc 100%,#8e8e8e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939393', endColorstr='#8e8e8e',GradientType=0 ); /* IE6-9 */
	box-shadow: none;
}
.btn_gray.disable,
.btn_gray.disable:active,
.btn_gray.disable:hover {
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(top,  #666666 0%, #505050 51%, #333333 100%, #8e8e8e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(51%,#505050), color-stop(100%,#333333), color-stop(100%,#8e8e8e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #666666 0%,#505050 51%,#333333 100%,#8e8e8e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #666666 0%,#505050 51%,#333333 100%,#8e8e8e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #666666 0%,#505050 51%,#333333 100%,#8e8e8e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #666666 0%,#505050 51%,#333333 100%,#8e8e8e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#8e8e8e',GradientType=0 ); /* IE6-9 */
	border-bottom-color: #000 !important;
	cursor: default;
	-webkit-box-shadow: 0px 5px 8px #000;
	-moz-box-shadow: 0px 5px 8px rgba(0, 0, 0, 1);
	box-shadow: 0px 5px 8px #000;
}
.btn_gray_red {
	display: inline-block;
	position: relative;
	padding: 6px 26px;
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(top,  #666666 0%, #4d4d4d 51%, #343434 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(51%,#4d4d4d), color-stop(100%,#343434)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #666666 0%,#4d4d4d 51%,#343434 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #666666 0%,#4d4d4d 51%,#343434 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #666666 0%,#4d4d4d 51%,#343434 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #666666 0%,#4d4d4d 51%,#343434 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
	color: #fff !important;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	font-size: 22px;
	font-weight: bold;
	line-height: 26px;
	border-bottom: none;
	-webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 5px 8px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 5px 8px 0px rgba(50, 50, 50, 0.3);
}
.btn_gray_red:hover {
	background: #fe0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #fe0000 0%, #e60000 52%, #cf0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe0000), color-stop(52%,#e60000), color-stop(100%,#cf0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fe0000 0%,#e60000 52%,#cf0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fe0000 0%,#e60000 52%,#cf0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fe0000 0%,#e60000 52%,#cf0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fe0000 0%,#e60000 52%,#cf0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0000', endColorstr='#cf0000',GradientType=0 ); /* IE6-9 */
}
.btn_gray_red:active {
	background: #cf0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #cf0000 0%, #e60000 53%, #fe0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf0000), color-stop(53%,#e60000), color-stop(100%,#fe0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cf0000 0%,#e60000 53%,#fe0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cf0000 0%,#e60000 53%,#fe0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cf0000 0%,#e60000 53%,#fe0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cf0000 0%,#e60000 53%,#fe0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0000', endColorstr='#fe0000',GradientType=0 ); /* IE6-9 */
	box-shadow: none;
}
.btn_gray_red.disable,
.btn_gray_red.disable:hover {
	background: #b29933; /* Old browsers */
	background: -moz-linear-gradient(top,  #b29933 0%, #a68d27 53%, #99801a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b29933), color-stop(53%,#a68d27), color-stop(100%,#99801a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b29933 0%,#a68d27 53%,#99801a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b29933 0%,#a68d27 53%,#99801a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b29933 0%,#a68d27 53%,#99801a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b29933 0%,#a68d27 53%,#99801a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b29933', endColorstr='#99801a',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 5px 8px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 5px 8px 0px rgba(50, 50, 50, 0.3);
	color: #ffe680 !important;
	cursor: default;
}
/*actions*/
.actions_nav {
	position: relative;
	margin-top: 24px;
	width: 100%;
	height: 54px;
	background-color: #e5b500;
}
.actions_nav:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-left: 10px solid #000;
    border-bottom: 27px solid transparent;
}
.actions_nav:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-right: 10px solid #000;
    border-bottom: 27px solid transparent;
}
.actions_nav ul {
	position: relative;
	text-align: center;
	margin-left: -108px;
	padding-top: 12px;
}
.actions_nav ul li {
	display: inline;
	position: relative;
	list-style: none;
	color: #000;
	margin-left: 66px;
	font-size: 20px;
	line-height: 24px;
}
.actions_nav ul li a {
	color: #000;
	border-bottom: 1px dashed #000;
}
.actions_nav ul li.active,
.actions_nav ul li .active {
	font-weight: 700;
	border-bottom: none;
}
#actions_list {
	position: relative;
	margin-top: 53px;
	margin-bottom: 68px;
	margin-left: -32px;
	overflow: hidden;
}
.action_item {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 300px;
	margin-bottom: 34px;
	padding-left: 32px;
}
.action_image {
	position: relative;
	height: 222px;
}
.action_image img {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 300px;
	max-height: 222px;
	vertical-align: bottom;
}
.action_item h2 {
	margin-top: 6px;
	margin-bottom: 4px;
	font-size: 25px;
	line-height: 30px;
	color: #ccc;
}
.action_date {
	margin-bottom: 10px;
	font-size: 15px;
	line-height: 18px;
	color: #666;
}
#actions_list .divider {
	display: block;
	position: relative;
	float: right;
	height: 1px;
	width: 980px;
	background-color: #252525;
}
/*action*/
.action_title {
	position: relative;
	margin-top: 24px;
	width: 100%;
	height: 54px;
	background-color: #E5B500;
	text-align: center;
}
.action_title:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-left: 10px solid #000;
    border-bottom: 27px solid transparent;
}
.action_title:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-right: 10px solid #000;
    border-bottom: 27px solid transparent;
}
.action_title h1 {
	margin: 0;
	padding: 10px;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #000;
}
.action_title h1 .small {
	font-size: 25px;
	line-height: 30px;
}
.action_title .back_to_actions {
	display: block;
	position: absolute;
	top: 19px;
	right: 41px;
	color: #333;
	font-size: 16px;
	line-height: 16px;
	border-bottom-color: #333;
}
.action_banner {
	display: block;
	position: relative;
	margin: 41px 0 0;
}
.action_banner img {
	display: block;
	position: relative;
	margin: 0 auto;
}
h2.action_head {
	margin: 0px 0 38px;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	color: #ccc;
}
.action_description p {
	margin-bottom: 22px;
}
.action_description .result {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}
.action_info {
	position: relative;
	margin: 32px 0 100px;
}
.action_info .row {
	position: relative;
	padding: 12px 22px 20px;
	clear: both;
	background-color: #252525;
	border-top: 1px solid #404040;
	border-bottom: 1px solid #000;
}
.action_info h3 {
	margin: 0 0 16px;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
}
dl {
	position: relative;
}
dt {
	position: relative;
	float: left;
	margin-right: 8px;
	margin-bottom: 19px;
	font-size: 16px;
	color: #999;
}
dd {
	position: relative;
	margin-bottom: 19px;
	font-weight: bold;
	color: #ccc;
}
.action_info .conditions {
	position: relative;
	margin-top: 56px;
	font-size: 14px;
	line-height: 16px;
	color: #666;
	font-style: italic;
}
/*rating*/
.navigation_rating {
	position: relative;
	margin-top: 28px;
	margin-bottom: 35px;
	width: 100%;
	height: 66px;
}
.navigation_rating:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-top: 27px solid rgba(0, 0, 0, 0);
	border-left: 10px solid #000;
	border-bottom: 27px solid rgba(0, 0, 0, 0);
	z-index: 5;
}
.navigation_rating:after {
	content: '';
	position: absolute;
	top: 12px;
	right: 0;
	width: 0;
	height: 0;
	border-top: 27px solid rgba(0, 0, 0, 0);
	border-right: 10px solid #000;
	border-bottom: 27px solid rgba(0, 0, 0, 0);
	z-index: 5;
}
.navigation_rating.second:before {
	top: 12px;
}
.navigation_rating.second:after {
	top: 0px;
}
.navigation_rating > div {
	position: relative;
	float: left;
	margin-top: 12px;
	width: 50%;
	height: 54px;
	background-color: #ad8900;
	color: #000;
	text-align: center;
	font-size: 30px;
	line-height: 54px;
	font-weight: bold;
}
.navigation_rating .active {
	margin-top: 0;
	background-color: #e5b500;
}
.navigation_rating .users:before {
	display: block;
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	right: -8px;
	top: auto;
	bottom: 0px;
	border-top: 12px solid #725b00; 
    border-left: 21px solid transparent;	
    z-index: 5;
}
.navigation_rating .users.active:before {
	display: block;
	position: absolute;
	content: '';
	width: 13px;
	height: 100%;
	right: -13px;
	top: 0;
	background-color: #e5b500;
	z-index: 2;
	border: none;
}
.navigation_rating .games:before {
	display: block;
	position: absolute;
	content: '';
	width: 7px;
	height: 12px;
	left: -7px;
	bottom: 0;
	background-color: #ad8900;
	z-index: 2;
}
.navigation_rating .games:after {
	display: block;
	position: absolute;
	content: '';
	bottom: 0;
	left: -7px;
	width: 0;
    height: 0;
    border-top: 12px solid #725b00; 
    border-right: 21px solid transparent;	
    z-index: 5;
}
.navigation_rating .games.active:before {
	display: block;
	position: absolute;
	content: '';
	width: 13px;
	height: 100%;
	left: -13px;
	top: 0;
	background-color: #e5b500;
	z-index: 2;
}
.navigation_rating .games.active:after {
	display: block;
	position: absolute;
	content: '';
	width: 7px;
	height: 12px;
	left: 0px;
	bottom: -12px;
	background-color: #ad8900;
	z-index: 2;
	border: none;
}
.navigation_rating a {
	color: #000;
	border-bottom: 1px dashed #000;
}
.navigation_rating ul {
	position: absolute;
	right: 90px;
	bottom: -34px;
}
.navigation_rating ul li {
	display: block;
	position: relative;
	margin-left: 62px;
	float: left;
	font-size: 18px;
	background: none !important;
}
.navigation_rating ul li a {
	color: #999;
	font-size: 18px;
	border-bottom: 1px dashed #999;
}
.navigation_rating ul li.active {
	color: #ccc;
	font-weight: bold;
}
.rating_list {
	position: relative;
	margin-bottom: 22px;
	width: 100%;
	border-collapse: collapse;
}
.rating_list tr {
	display: table;
	position: relative;
	width: 100%;
	height: 45px;
}
.rating_list tr:nth-child(2n+1) {
	background: #333;
}
.rating_list tr:nth-child(2n+1):before {
	display: block;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
    height: 0;
    border-bottom: 45px solid #000; 
    border-right: 9px solid transparent;
}
.rating_list tr:nth-child(2n+1):after {
	display: block;
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	width: 0;
    height: 0;
    border-top:45px solid #000; 
    border-left: 9px solid transparent;
}
.rating_list tr:nth-child(2n) {
	background: #252525;
}
.rating_list tr:nth-child(2n):before {
	display: block;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
    height: 0;
    border-top: 45px solid #000; 
    border-right: 9px solid transparent;
}
.rating_list tr:nth-child(2n):after {
	display: block;
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	width: 0;
    height: 0;
    border-bottom: 45px solid #000; 
    border-left: 9px solid transparent;
}
.rating_list td {
	padding-top: 13px;
	font-size: 18px;
}
.rating_list .num {
	padding-left: 31px;
	width: 60px;
	font-size: 18px;
}
.rating_list .name {
	width: 546px;
}
.rating_list .rate {
	padding-right: 85px;
	font-weight: bold;
	color: #fff;
	text-align: right;
}
.rating_list .rate:before {
	display: block;
	position: absolute;
	content: '';
	right: 42px;
	bottom: 7px;
	width: 31px;
	height: 30px;
	background-image: url(../images/sprite.png);
	background-position: -251px -65px;	
}
.pagination {
	position: relative;
	margin-bottom: 50px;
	text-align: center;
}
.pagination a {
	display: inline-block;
	color: #666;
	line-height: 18px;
	font-weight: bold;
	border-bottom: none;
	vertical-align: middle;
}
.pagination .active,
.pagination a.active,
.pagination a:hover {
	color: #ccc;
}
.btn_next{
	margin-left: 4px;
	background-image: url(../images/sprite.png);
	background-position: -411px -151px;
	width: 12px;
	height: 17px;
}
.btn_next.disable{
	background-position: -395px -151px;
}
.btn_prev{
	margin-right: 4px;
	background-image: url(../images/sprite.png);
	background-position: -380px -151px;
	width: 12px;
	height: 17px;
}
.btn_prev.disable{
	background-position: -364px -151px;
}
.user_rating {
	position: relative;
	margin-top: 36px;
	margin-bottom: 35px;
}
.user_medals h3,
.user_last_games h3 {
	font-size: 25px;
	line-height: 30px;
}
.user_medals {
	position: relative;
	padding-top: 15px;
	padding-bottom: 40px;
	border-top: 1px solid #252525;
}
.user_medals img {
	position: relative;
	margin-right: 9px;
}
.user_last_games {
	position: relative;
	margin-bottom: 140px;
	padding-top: 22px;
	border-top: 1px solid #252525;
}
.user_last_games .game_item {
	display: block;
	position: relative;
	float: left;
	margin-top: 14px;
	margin-right: 48px;
	width: 150px;
}
.user_last_games .game_item a {
	border-bottom: none;
}
.user_last_games .game_image {
	position: relative;
	width: 150px;
	height: 103px;
	overflow: hidden;
}
.user_last_games .game_image img {
	max-width: 150px
}
.user_last_games .game_item a.title {
	font-size: 18px;
	line-height: 21px;
	color: #ccc;
	border-bottom: 1px solid #ccc;
}